<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav><%- include ('../partials/nav.ejs') %></nav>
    <div class="container">
      <h1><%=movies.title%><br /><br /></h1>

      <img src="<%= movies.cover %>" /><br />
      <h5>
        <button type="button" name="button">
          <a href="/movies/<%=movies._id%>/edit">Edit</a>
        </button>
      </h5>
      <br />
      <h4>Synopsis:</h4>
      <p><%=movies.synopsis%></p>
      <br />
      <form action="/movies/<%=movies._id%>?_method=DELETE" method="POST">
        <input class="button" type="submit" value="DELETE" />
      </form>
      <button class="button" type="button" name="button">
        <a href="/movies">Back</a>
      </button>
    </div>
  </body>
</html>
